{% extends 'main/layout.html' %}

{% block title %}
    <h1>Поиск вакансий</h1>
{% endblock %}

{% block content %}

<form id="vacancy" action="" method="POST">

    {% csrf_token %}

    <h1>Поиск вакансий</h1>

    {{ form.as_p }}

    <input class="but" type="submit" name="submit" value="Поиск вакансий"/>

</form>

{% if submit_but == "Поиск вакансий" %}

    <div id="link">

        {% for i in text %}

        <br><a href="{{ i }}">{{ i }}</a>

        {% endfor %}
    </div>

{% endif %}

{% endblock %}
