body {
    background-image: url("../img/10.jpg");
    background-size: 100%;
}

.home {
    text-align: center;
    color: Blue;
    width: 70%;
    padding-top: 10%;
}

.home button {
    margin-top: 25px;
}

aside {
    background: #87CEEB;
    border-right: 5px solid Blue;
    color: Blue;
    height: 100vh;
    float: left;
    padding: 2.5%;
    width: 25%;
}

aside img {
    float: left;
    width: 50px;
}

aside .logo {
    font-size: 40px;
    font-weight: bold;
    margin-left: 25px;
}

aside h3 {
    font-size: 25px;
    margin-top: 50px;
}

aside ul {
    list-style: none
}

aside ul li {
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: Blue;
    transform: scale(1.05);
}

#vacancy {
    color: Blue;
    margin-left: 30%;
}

#vacancy h1 {
    margin-left: 15%;
}

textarea {
    border: 3px solid Blue;
    border-radius: 10px;
    display: block;
    height: 190px;
    width: 600px;
}

#vacancy label{
    font-weight: bold;
    margin-left: 25%;
}

main .but {
    background: Blue;
    border: 3px solid Blue;
    border-radius: 10px;
    color: White;
    height: 50px;
    margin-left: 20%;
    margin-right: 15%;
    width: 200px;
}

main #link {
    border: 3px solid Blue;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 37%;
    text-align: center;
    width: 380px;
}

